<h2 mat-dialog-title>Información de {{data.pokemon_name}}</h2>
    <div mat-dialog-content>
    
      <div class="container text-center">
        
        <img src={{data.sprites.front_default}}>


        <div class="row align-items-start">
          <div class="col">
            Carácterísticas:
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Peso: {{data.weight}}</li>
              <li class="list-group-item">Experiencia base: {{data.base_experience}}</li>
              <li class="list-group-item">Altura: {{data.height}}</li>
              
            </ul>

          </div>
          <div class="col">
            Habilidades:
            <br>

            <ul class="list-group">
              <li class="list-group-item list-group-item-light" *ngFor="let habilidad of data.abilities">
                {{habilidad.ability.name}}
              </li>
            </ul>

          </div>
          
        </div>
      </div>

     

    </div>

  
    
<div mat-dialog-actions class="exitButton">
  <button mat-button (click)="closeModal()">Cerrar</button>
</div>