<h2 mat-dialog-title>Información de {{data.name}}</h2>
    <div mat-dialog-content>
    
      <div class="container text-center">

        <div *ngIf="data.sprite_id != null">
          <img src={{data.sprite_id}}>
        </div>
        <div *ngIf="data.sprite_id == null">
          <img src="assets/images/Not-Found.png">
        </div>
        
        


        <div class="row align-items-start">
          <div class="col">
            Carácterísticas:
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Peso: {{data.weight}}</li>
              <li class="list-group-item">Experiencia base: {{data.base_xp}}</li>
              <li class="list-group-item">Altura: {{data.height}}</li>
              
            </ul>

          </div>
          <div class="col">
            Habilidades:
            <br>

            <ul class="list-group">
              <li class="list-group-item list-group-item-light" *ngFor="let habil of data.abilities">
                {{habil}}
              </li>
            </ul>

          </div>
          
        </div>
      </div>

     

    </div>

  
    
<div mat-dialog-actions class="exitButton">
  <button mat-button (click)="closeModal()">Cerrar</button>
</div>